= link_to "スレッド一覧に戻る", "/boards"
%hr
%h1 Create New Users

= form_for @users do |f|

    = f.label :name, "名前"
    = f.text_field :name

    = f.label :email, "メールアドレス"
    = f.text_field :email

    = f.label :password, "パスワード"
    = f.text_field :password

    = f.label :password_confirmation, "パスワード(確認用)"
    = f.text_field :password_confirmation

    = f.submit
